

<h2> Notificaion Settings</h2>
<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Details"> 
    <mat-card>
      <form class="Noti-form-width">
        <mat-form-field class="Noti-field-width" appearance="fill">
          <mat-label> Description </mat-label>
          <textarea matInput></textarea>  
        </mat-form-field>
      
        <mat-form-field class="Noti-field-width" appearance="fill">
          <mat-label> Subject </mat-label>
          <input matInput>
        </mat-form-field>
       
        <mat-form-field  class="Noti-field-width"  appearance="fill">
          <mat-label> Body </mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
       
        <div>
          <mat-form-field class="Noti-date">
            <mat-label>From a date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerFrom">
            <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="Noti-date" style='display: inline-block;'>
            <mat-label>To a date</mat-label>
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerTo">
            <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field> 
        </div>
        <mat-form-field class="Noti-select">
          <mat-label>Status </mat-label>
          <mat-select>
            <mat-option *ngFor="let mode of modes" [value]="mode.value">
              {{mode.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card>
  </mat-tab>

  <mat-tab label="Rules">
    <mat-card>
       <form>
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                 General Rule Info
              </mat-panel-title>
              
            </mat-expansion-panel-header>
            <mat-form-field  class="rule-field"  appearance="fill">
              <mat-label> Start Reminder Before (days) </mat-label>
              <input  type="number" matInput>
            </mat-form-field>
            <mat-form-field  class="rule-field"  appearance="fill">
              <mat-label> freq between Reminders in (days) </mat-label>
              <input  type="number" matInput>
            </mat-form-field> 
            <mat-checkbox class="rule-field"> 
              Reminder After
            </mat-checkbox>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                 Rule   Type
              </mat-panel-title>
              <!-- <mat-panel-description > Weekly or Monthly Notifications
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <fieldset class="rule-fieldset">
              <legend>Monthly:</legend>
              <mat-checkbox class="rule-field"> 
                Once per a Month
              </mat-checkbox>
            </fieldset>
              <fieldset class="rule-fieldset">
                <legend>Weeks:</legend>
                <mat-checkbox class="rule-field"> 
                 <mat-label>First &nbsp;Week </mat-label> 
                </mat-checkbox>
                <mat-checkbox class="rule-field"> 
                  Second Week
                </mat-checkbox>
                <br>
                <mat-checkbox class="rule-field"> 
                  Third Week
                </mat-checkbox>
                <mat-checkbox class="rule-field"> 
                  Fourth Week
                </mat-checkbox>
              </fieldset>
          </mat-expansion-panel>
        </mat-accordion>
       </form>
    </mat-card>
  </mat-tab>
  <mat-tab label="Subscribers"> 
   <mat-card>
    <mat-card-header>
      <mat-card-title>Escalation Emails</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="subs-mat-field">
        <mat-label> First Email </mat-label>
        <input  disabled matInput>
      </mat-form-field>
      <mat-form-field class="subs-mat-field">
        <mat-label> Second Email </mat-label>
          <input disabled matInput>
      </mat-form-field>
        <button  class="subs-mat-field" mat-mini-fab color="primary"
        (click)="openDialog()"
        aria-label="Example icon button with a menu icon">
          <mat-icon> more_horiz</mat-icon>
        </button>
    </mat-card-content>
   </mat-card>
   <mat-card>
    <mat-card-header>
      <mat-card-title>Reminder Emails</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="subs-mat-field">
        <mat-label> Reminder Email </mat-label>
          <input  matInput>
      </mat-form-field>
      <button mat-raised-button>Add Email</button>
      
      </mat-card-content>
   </mat-card>

  </mat-tab>
</mat-tab-group>

<!-- <mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput></textarea>
</mat-form-field> -->
<router-outlet></router-outlet>