.Noti-form-width{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin:10px;
  }
  
  .Noti-field-width {
    width: 100%;
    margin:10px;
    
  }

  .Noti-select {
    width: 30%;
    margin:10px;
  }
  .Noti-date
  {
    width: 30%;
    margin-left:10px;
    margin-right:15%;
  }
  .mat-select-panel-wrap
  {
    margin-left:10px;
    margin-top:20px;
  }
  .mat-card{

    width: 50%;
    margin: 20px;
  } 
  .rule-field{
    width:40%;
    margin: 10px;
  }
 .rule-fieldset
 {
  width:90%;
  margin: 10px;
 }
 .mat-expansion-panel{
   margin: 10px;
  /* justify-content: space-between; */
 }

 .subs-mat-field{

  margin: 20px;
 }
