<div style="position: fixed;top: 10px;right:25px">
  <button mat-mini-fab color="primary"
   matDialogClose>
    <mat-icon>close</mat-icon>
  </button>
</div>

<p>Select First Email Escalation</p>
<table mat-table [dataSource]="dsEmails1" class="mat-elevation-z8">
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Emails </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row 
  [ngClass]="{'highlight': selectedRowIndex1 == row.id}"
  (click)="selectedRowIndex1=row.id"
  *matRowDef="let row;  columns: displayedColumns;"></tr>
  </table>
<p>Select Second Email Escalation</p>
<table mat-table [dataSource]="dsEmails2" class="mat-elevation-z8">
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Emails </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row 
  [ngClass]="{'highlight': selectedRowIndex2 == row.id}"
  (click)="selectedRowIndex2 = row.id"
  *matRowDef="let row; columns: displayedColumns;" ></tr>
</table>